
.btn-login-lighten.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-login-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  background-color: #43a9ce;
  background-image: -moz-linear-gradient(top, #33a1c9, #5ab4d5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33a1c9), to(#5ab4d5));
  background-image: -webkit-linear-gradient(top, #33a1c9, #5ab4d5);
  background-image: -o-linear-gradient(top, #33a1c9, #5ab4d5);  background-image: linear-gradient(to bottom, #33a1c9, #5ab4d5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33a1c9', endColorstr='#ff5ab4d5', GradientType=0);
  border-color: #5ab4d5 #5ab4d5 #2e91b5;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #5ab4d5;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}.btn-login-lighten:hover,
.btn-login-lighten:focus,
.btn-login-lighten:active,.btn-login-lighten.active,
.btn-login-lighten.disabled,
.btn-login-lighten[disabled] {
  color: #ffffff;
  background-color: #5ab4d5;
  *background-color: #46abd0;
}
.btn-login-lighten:active,
.btn-login-lighten.active {
  background-color: #33a1c9 ;
