        <div class="span9">
          <h5>{{FirstName}} {{LastName}}</h5>
          <div class="span5">{{phone}}</div>
          <div class="span5"><a href="mailto:{{email}}">{{email}}</a></div>
          <table class="table">  
          <thead>  
          <tr>  
            <th>Room</th>  
            <th>Role</th>  
          </tr>
          </thead>
          <tbody>
          {{#each Rooms}}
          <tr>
            <td>{{name}}</td>
            <td>{{role}}</td>
          </tr>
          {{/each}}
          </tbody>
          </table>
	  <table class="table">
	  <thead>
	    <tr>
	        <th>Message</th>
	        <th>Posted by</th>
	        <th>Posted at</th>
	    </tr> 
	  </thead>
	  <tbody>
	  {{#each usermesg}}
	    <tr>
		<td>{{{message}}}</td>
		<td>{{PostedBy}}</td>
		<td>{{PostedOn}}</td>
	    </tr>
	  {{/each}}
	  </tbody>
	 </table>
        </div>
