<script type="text/javascript" src="/js/handlebars.runtime.js">
</script>
<script src="/js/profile.js">
</script>
<script type="text/javascript">
var Ajax = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
 
Ajax.onreadystatechange = function(){
   if (Ajax.readyState == 4 && Ajax.status == 200)
   {
      //Parse the JSON data
      var template = Handlebars.templates['profile'];

      var data = JSON.parse(Ajax.responseText);

      $('#content').html(template(data));
   }
}
 
Ajax.open("GET","/xme/getProfileData", true);
Ajax.send();
</script>
